<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.bence.mvpforandroid" >

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar" >
        <activity
            android:name=".MainActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".NewPersonActivity"
            android:label="@string/title_activity_new_person" >
        </activity>
        <activity
            android:name=".PersonsActivity"
            android:label="@string/title_activity_list_persons" >
        </activity>
        <activity
            android:name=".EditPersonActivity"
            android:label="@string/title_activity_edit_person" >
        </activity>
    </application>

</manifest>
